* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
.o-navbar {
  padding-top: 30px;
}
.o-navbar-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-left: 30px;
  margin-bottom: 40px;
}
.o-navbar-top-address {
  display: flex;
}
.o-logo {
  padding-right: 25px;
}
.radio {
  padding-right: 10px;
}
.o-navbar-top-address {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  background-color: gray;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.fa-magnifying-glass {
  position: relative;
  left: 60px;
}
.o-navbar-food-search {
  width: 800px;
  height: 40px;
  /* padding-left: 100px; */
  padding-left: 40px;
  background-color: lightgray;
  color: white;
  border-radius: 40px;
  /* margin-right: 40px; */
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
}
.o-cart, .o-login, .o-signup  {
  width: 90px;
  height: 30px;
  border-radius: 40px;
}
.o-signup {
  width: 70px;
}
.o-login, .o-signup {
  background-color: lightgray;
  color: black; 
}
.o-navbar-bot {
  display: flex;
  gap: 40px;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.line {
  width: 95vw;
  margin: auto;
  border-bottom: 1px solid lightgray;
  margin-bottom: 80px;
}

/* display deals */
.o-deals {
  display: flex;
  gap: 30px;
  padding-bottom: 75px;
}
.o-deals-text {
  height: 300px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}
.o-deals-text > h1 {
  padding-bottom: 15px;
}
.o-deal-1 {
  height: 300px;
  width: 600px;
  background-image: url("../img/order/sandwich.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.o-deal-1 > p {
  padding-top: 15px;
  padding-left: 15px
}
.o-deal-2 {
  height: 300px;
  width: 600px;
  background-image: url("../img/order/sushi.jpg");
  background-size: cover;
  border-radius: 20px;
  background-position: 0 -70px;
}
.o-deal-2 > p {
  padding-top: 15px;
  padding-left: 15px
}
.large {
  font-size: 2.25em;
}
.more-details {
  background-color: white;
  width: 160px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.more-details-1 {
  margin-top: 165px;
}
.more-details-2 {
  margin-top: 155px;
}
.fa-arrow-right {
  padding-left: 10px;
}

/* restaurant list */
.order-seletion {
  display: flex;
  flex-direction: row;
}
h3 {
  font-size: 1.75em;
}

/* side nav */
.side-nav {
  width: 350px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  margin-right: 150px;
}
h4 {
  font-size: 1.5em;
  padding-bottom: 20px;
}
h5 {
  font-size: 1.1em;
  padding-bottom: 10px;
}
.o-category {
  margin-bottom: 30px;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 50px;
}
.card > img {
  width: 325px;
  height: 175px;
}
.o-options {
  display: flex;
  flex-direction: column;
}
.radio {
  display: inline-grid;
}
.min-max {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
/* sort */
.sort > div {
  margin: 5px 0;
}
/* From Uber Eats */
.fa-tag, .fa-medal {
  margin-right: 20px;
}
.o-options > p {
  margin: 5px 0;
}
/* PRICE RANGE */
.dollars {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.dollar {
  width: 30px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 20px;
  cursor: pointer;
}
.dollar-2 {
  width: 40px;
}
.dollar-3 {
  width: 50px;
}
.dollar-4 {
  width: 60px;
}
/* Delivery Fee */
.fee {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 30px;
}
.fee > div {
  display: flex;
  flex-direction: column;
}
/* Dietary Restrictions */
.o-options-dietary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.o-options-dietary > div {
  background-color: lightgray;
  border-radius: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.fa-envira, .fa-shield-heart, .fa-wheat-awn,
.fa-sun, .fa-shield-halved {
  padding-right: 5px;
}
.vegetarian {
  width: 120px;
}
.vegan {
  width: 80px;
}
.gluten-free {
  width: 120px;
}
.halal {
  width: 70px;
}
.allergy-friendly {
  width: 160px;
}