* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.front-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/hero.jpg");
  background-size: cover;
}
.dummy {
  height: 160px;
}
/* navigation bar */
.navbar {
  padding: 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-left, .navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  padding-left: 50px;
  height: 32px;
}
.login, .signup {
  width: 125px;
  height: 60px;
  border-radius: 30px;
  font-size: 1.25em;
}
.login {
  margin-right: 25px;
}
.signup {
  width: 110px;
}
/* middle of hero page */
.hero {
  padding-left: 50px;
  color: #fff;
}
.hero-top-t {
  font-size: 4em;
}
.hero > form {
  margin: 40px 0;
  gap: 10px;
  display: flex;
  align-items: center;
}
.fa-location-dot {
  position: absolute;
  color: black;
  left: 70px;
  /* right: 10px; */
}
.address {
  width: 700px;
  height: 60px;
  font-size: 2em;
  padding-left: 60px;
}
.delivery {
  width: 200px;
  height: 60px;
  font-size: 1.25em;
  text-align: center;
}
.d-submit {
  width: 125px;
  height: 60px;
  font-size: 1.5em;
  border-radius: 10px;
}
.hero-bottom-t {
  font-size: 1.1em;
}

.f-info {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin: 150px 0;
}

/* info section */
.card {
  width: 30%;
  background-size: cover;
}
.card > img {
  width: 100%;
}
.card-top {
  font-size: 2.5em;
  padding-bottom: 5px;
}
.card-bot {
  font-size: 1.25em;
}

.near-me {
  padding: 0 3%;
  margin-bottom: 4%;
}
.near-me > p {
  font-size: 2.5em;
  padding-bottom: 30px;
}
.near-me > img {
  width: 100%;
}
.cities-near-me {
  font-size: 1.5em;
  width: 100%;
}
td {
  padding: 20px 0;
  width: 25%;
}

.countries {
  padding: 0 3% ;
  width: 100%;
}
.countries > p {
  font-size: 2.5em;
  padding-bottom: 30px;
}
.countries > table {
  width: 100%;
  font-size: 1.5em;
}